extends ../common/layout.pug

block header
  include ../common/header-logged.pug

block content
  main.page-content
    section.comments
      .comments__wrapper
        p.comments__message У ваших публикаций еще нет комментариев.
